In [0]:

import pyspark
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import StructType,StructField, StringType
import pyspark.sql.functions as f

In [0]:
spark = SparkSession.builder.appName('spark_copy_data').getOrCreate()

<h3>Organização dos dados</h3> <br>
Em '/FileStore/transient' organizamos os dados de entrada do datalake, para melhor organização é comum organizamos um diretório principal e <br> 
dentro dele os demais diretórios de assuntos relacionados <br>
Abaixo temos um exemplo de como organizamos os dados de uma empresa, onde o diretório principal é o departments e dentro temos sua composição   : <br>
<h5>departments </h5>

* countries
* dependents
* departments
* employees
* jobs
* locations
* regions

In [0]:
path_countries = '/FileStore/transient/departments/'
dbutils.fs.ls('dbfs:' + path_countries)

Out[7]: [FileInfo(path='dbfs:/FileStore/transient/departments/countries/', name='countries/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/transient/departments/departments/', name='departments/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/transient/departments/dependents/', name='dependents/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/transient/departments/employees/', name='employees/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/transient/departments/jobs/', name='jobs/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/transient/departments/locations/', name='locations/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/transient/departments/regions/', name='regions/', size=0, modificationTime=0)]

<h3>Leitura dos dados </h3> <br>
Faça a leitura de todos os arquivos csv de transient/departments em dataframes spark <br> 
Cada dataframe deve ter um nome que identifique o o tipo de dado , exemplo : um dataframe contendo as ruas de um bairro pode ser chamado de df_street ou df_rua<br>
Utize o metodo read da Spark Session - para fazer a leitura dos dataframes com os nomes abaixo   : <br>
Será necessário informar as opções <h5>header, sep, quote e inferSchema </h5> para a leitura correta dos dados
<h5>departments </h5>

* df_countries
* df_dependents
* df_departments
* df_employees
* df_jobs
* df_locations
* df_ regions

In [0]:
def read_csv_to_dataframe(path : str, header : bool, sep: str, quote: str, inferschema: bool):
    return spark.read.format("csv")\
            .option("header", header)\
            .option("sep", sep)\
            .option("quote",quote)\
            .option("inferSchema",inferschema)\
            .load(path)

In [0]:
path_countries = '/FileStore/transient/departments/countries/'

df_countries = spark.read.format("csv")\
            .option("header", True)\
            .option("sep", ",")\
            .option("quote","'")\
            .option("inferSchema",True)\
            .load(path_countries)

In [0]:
path_departments = '/FileStore/transient/departments/departments/'

df_departments = spark.read.format("csv")\
            .option("header", True)\
            .option("sep", ",")\
            .option("quote","'")\
            .option("inferSchema",True)\
            .load(path_departments)

In [0]:
path_countries = '/FileStore/transient/departments/countries/'

df_countries = spark.read.format("csv")\
            .option("header", True)\
            .option("sep", ",")\
            .option("quote","'")\
            .option("inferSchema",True)\
            .load(path_countries)

In [0]:
path_dependents = '/FileStore/transient/departments/dependents/'

df_dependents = spark.read.format("csv")\
            .option("header", True)\
            .option("sep", ",")\
            .option("quote","'")\
            .option("inferSchema",True)\
            .load(path_dependents)

In [0]:
path_employees = '/FileStore/transient/departments/employees/'

df_employees = spark.read.format("csv")\
            .option("header", True)\
            .option("sep", ",")\
            .option("quote","'")\
            .option("inferSchema",True)\
            .load(path_employees)

In [0]:
path_jobs = '/FileStore/transient/departments/jobs/'

df_jobs = spark.read.format("csv")\
            .option("header", True)\
            .option("sep", ",")\
            .option("quote","'")\
            .option("inferSchema",True)\
            .load(path_jobs)

In [0]:
path_locations = '/FileStore/transient/departments/locations/'

df_locations = spark.read.format("csv")\
            .option("header", True)\
            .option("sep", ",")\
            .option("quote","'")\
            .option("inferSchema",True)\
            .load(path_locations)

In [0]:
path_regions = '/FileStore/transient/departments/regions/'

df_regions = spark.read.format("csv")\
            .option("header", True)\
            .option("sep", ",")\
            .option("quote","'")\
            .option("inferSchema",True)\
            .load(path_regions)

In [0]:
df_regions.select('*').display()

region_id,region_name
1,Europe
2,Americas
3,Asia
4,Middle East and Africa

In [0]:
df_employees.display()

employee_id,first_name,last_name,email,phone_number,hire_date,job_id,salary,manager_id,department_id
100,Steven,King,steven.king@sqltutorial.org,515.123.4567,1987-06-17,4,24000.0,NULL,9
101,Neena,Kochhar,neena.kochhar@sqltutorial.org,515.123.4568,1989-09-21,5,17000.0,100,9
102,Lex,De Haan,lex.de haan@sqltutorial.org,515.123.4569,1993-01-13,5,17000.0,100,9
103,Alexander,Hunold,alexander.hunold@sqltutorial.org,590.423.4567,1990-01-03,9,9000.0,102,6
104,Bruce,Ernst,bruce.ernst@sqltutorial.org,590.423.4568,1991-05-21,9,6000.0,103,6
105,David,Austin,david.austin@sqltutorial.org,590.423.4569,1997-06-25,9,4800.0,103,6
106,Valli,Pataballa,valli.pataballa@sqltutorial.org,590.423.4560,1998-02-05,9,4800.0,103,6
107,Diana,Lorentz,diana.lorentz@sqltutorial.org,590.423.5567,1999-02-07,9,4200.0,103,6
108,Nancy,Greenberg,nancy.greenberg@sqltutorial.org,515.124.4569,1994-08-17,7,12000.0,101,10
109,Daniel,Faviet,daniel.faviet@sqltutorial.org,515.124.4169,1994-08-16,6,9000.0,108,10
110,John,Chen,john.chen@sqltutorial.org,515.124.4269,1997-09-28,6,8200.0,108,10
111,Ismael,Sciarra,ismael.sciarra@sqltutorial.org,515.124.4369,1997-09-30,6,7700.0,108,10
112,Jose Manuel,Urman,jose manuel.urman@sqltutorial.org,515.124.4469,1998-03-07,6,7800.0,108,10
113,Luis,Popp,luis.popp@sqltutorial.org,515.124.4567,1999-12-07,6,6900.0,108,10
114,Den,Raphaely,den.raphaely@sqltutorial.org,515.127.4561,1994-12-07,14,11000.0,100,3
115,Alexander,Khoo,alexander.khoo@sqltutorial.org,515.127.4562,1995-05-18,13,3100.0,114,3
116,Shelli,Baida,shelli.baida@sqltutorial.org,515.127.4563,1997-12-24,13,2900.0,114,3
117,Sigal,Tobias,sigal.tobias@sqltutorial.org,515.127.4564,1997-07-24,13,2800.0,114,3
118,Guy,Himuro,guy.himuro@sqltutorial.org,515.127.4565,1998-11-15,13,2600.0,114,3
119,Karen,Colmenares,karen.colmenares@sqltutorial.org,515.127.4566,1999-08-10,13,2500.0,114,3
120,Matthew,Weiss,matthew.weiss@sqltutorial.org,650.123.1234,1996-07-18,19,8000.0,100,5
121,Adam,Fripp,adam.fripp@sqltutorial.org,650.123.2234,1997-04-10,19,8200.0,100,5
122,Payam,Kaufling,payam.kaufling@sqltutorial.org,650.123.3234,1995-05-01,19,7900.0,100,5
123,Shanta,Vollman,shanta.vollman@sqltutorial.org,650.123.4234,1997-10-10,19,6500.0,100,5
126,Irene,Mikkilineni,irene.mikkilineni@sqltutorial.org,650.124.1224,1998-09-28,18,2700.0,120,5
145,John,Russell,john.russell@sqltutorial.org,NULL,1996-10-01,15,14000.0,100,8
146,Karen,Partners,karen.partners@sqltutorial.org,NULL,1997-01-05,15,13500.0,100,8
176,Jonathon,Taylor,jonathon.taylor@sqltutorial.org,NULL,1998-03-24,16,8600.0,100,8
177,Jack,Livingston,jack.livingston@sqltutorial.org,NULL,1998-04-23,16,8400.0,100,8
178,Kimberely,Grant,kimberely.grant@sqltutorial.org,NULL,1999-05-24,16,7000.0,100,8
179,Charles,Johnson,charles.johnson@sqltutorial.org,NULL,2000-01-04,16,6200.0,100,8
192,Sarah,Bell,sarah.bell@sqltutorial.org,650.501.1876,1996-02-04,17,4000.0,123,5
193,Britney,Everett,britney.everett@sqltutorial.org,650.501.2876,1997-03-03,17,3900.0,123,5
200,Jennifer,Whalen,jennifer.whalen@sqltutorial.org,515.123.4444,1987-09-17,3,4400.0,101,1
201,Michael,Hartstein,michael.hartstein@sqltutorial.org,515.123.5555,1996-02-17,10,13000.0,100,2
202,Pat,Fay,pat.fay@sqltutorial.org,603.123.6666,1997-08-17,11,6000.0,201,2
203,Susan,Mavris,susan.mavris@sqltutorial.org,515.123.7777,1994-06-07,8,6500.0,101,4
204,Hermann,Baer,hermann.baer@sqltutorial.org,515.123.8888,1994-06-07,12,10000.0,101,7
205,Shelley,Higgins,shelley.higgins@sqltutorial.org,515.123.8080,1994-06-07,2,12000.0,101,11
206,William,Gietz,william.gietz@sqltutorial.org,515.123.8181,1994-06-07,1,8300.0,205,11

<h3>Renomeando as colunas</h3> <br>
Crie um novo dataframe chamado df_empregados, utilizando como base o df_employees <br> 
Para renomear cada coluna, utilize o método pyspark withColumnRenamed ('nome_antigo', 'nome_novo')<br>
Os métodos do spark dataframe **columns** e **printSchema** são uteis para listar o nome das colunas . 
<h5>df_empregados </h5>

* id_empregado
* primeiro_nome
* ultimo_nome"
* email
* numero_telefone
* data_contratacao
* id_ocupacao
* salario
* id_gerente
* id_departamento

<h3>Criando novas colunas</h3> <br>
Utilizando o df_empregados, crie novas colunas seguindo as regras para cada nova coluna . 
Para criar uma coluna, utilize o método pyspark withColumn ('nome_coluna', valor nova coluna)<br>
O valor da nova coluna pode ser um valor estático utilizando a função lit('valor') ou derivado de outra coluna existente . 
<h5>df_empregados </h5>

* coluna nome - primeiro_nome e ultimo nome juntos
* coluna ano_contratacao - ano da contratação , da coluna data_contratacao
* coluna mes_contratacao - mês da contratação , da coluna data_contratacao
* coluna dia_contratacao - dia da contratação , da coluna data_contratacao
* coluna desconto_inss - 11% da coluna salário 

<h5>alíquotas do INSS</h5> <br>
salário  de até 1412,00 até 7,5 % <br>
salário de 1412,01 até 2666,68 9 % <br> 
salário de 2666,69 até 4000,03 12 % <br>
salário acima de  4000,04  14 % <br>

#### filtro </br>
Filtro as linhas onde o ano_contratacao seja igual a 1991

#### filtro </br>
Filtro as linhas onde o ano_contratacao seja igual a 1993 e o id_ocupação seja 6

id_empregado,primeiro_nome,ultimo_nome,email,numero_telefone,data_contratacao,id_ocupacao,salario,id_gerente,id_departamento,nome,ano_contratacao,mes_contratacao,dia_contratacao,desconto_inss
109,Daniel,Faviet,daniel.faviet@sqltutorial.org,515.124.4169,1994-08-16,6,9000.0,108,10,Daniel Faviet,1994,08,16,1260.0000000000002
110,John,Chen,john.chen@sqltutorial.org,515.124.4269,1997-09-28,6,8200.0,108,10,John Chen,1997,09,28,1148.0
111,Ismael,Sciarra,ismael.sciarra@sqltutorial.org,515.124.4369,1997-09-30,6,7700.0,108,10,Ismael Sciarra,1997,09,30,1078.0
112,Jose Manuel,Urman,jose manuel.urman@sqltutorial.org,515.124.4469,1998-03-07,6,7800.0,108,10,Jose Manuel Urman,1998,03,07,1092.0
113,Luis,Popp,luis.popp@sqltutorial.org,515.124.4567,1999-12-07,6,6900.0,108,10,Luis Popp,1999,12,07,966.0000000000001

#### filtro </br>
Filtro as linhas onde o ano_contratacao seja igual a 1993, 1994 e 1995

id_empregado,primeiro_nome,ultimo_nome,email,numero_telefone,data_contratacao,id_ocupacao,salario,id_gerente,id_departamento,nome,ano_contratacao,mes_contratacao,dia_contratacao,desconto_inss
102,Lex,De Haan,lex.de haan@sqltutorial.org,515.123.4569,1993-01-13,5,17000.0,100,9,Lex De Haan,1993,01,13,2380.0
108,Nancy,Greenberg,nancy.greenberg@sqltutorial.org,515.124.4569,1994-08-17,7,12000.0,101,10,Nancy Greenberg,1994,08,17,1680.0000000000002
109,Daniel,Faviet,daniel.faviet@sqltutorial.org,515.124.4169,1994-08-16,6,9000.0,108,10,Daniel Faviet,1994,08,16,1260.0000000000002
114,Den,Raphaely,den.raphaely@sqltutorial.org,515.127.4561,1994-12-07,14,11000.0,100,3,Den Raphaely,1994,12,07,1540.0000000000002
115,Alexander,Khoo,alexander.khoo@sqltutorial.org,515.127.4562,1995-05-18,13,3100.0,114,3,Alexander Khoo,1995,05,18,434.00000000000006
122,Payam,Kaufling,payam.kaufling@sqltutorial.org,650.123.3234,1995-05-01,19,7900.0,100,5,Payam Kaufling,1995,05,01,1106.0
203,Susan,Mavris,susan.mavris@sqltutorial.org,515.123.7777,1994-06-07,8,6500.0,101,4,Susan Mavris,1994,06,07,910.0000000000001
204,Hermann,Baer,hermann.baer@sqltutorial.org,515.123.8888,1994-06-07,12,10000.0,101,7,Hermann Baer,1994,06,07,1400.0000000000002
205,Shelley,Higgins,shelley.higgins@sqltutorial.org,515.123.8080,1994-06-07,2,12000.0,101,11,Shelley Higgins,1994,06,07,1680.0000000000002
206,William,Gietz,william.gietz@sqltutorial.org,515.123.8181,1994-06-07,1,8300.0,205,11,William Gietz,1994,06,07,1162.0

#### filtro </br>
Filtro as linhas onde parte do nome tenha 'lex' , utilize função like

In [0]:
df_empregados.filter(f.lower('nome').like('%lex%') ).display()

id_empregado,primeiro_nome,ultimo_nome,email,numero_telefone,data_contratacao,id_ocupacao,salario,id_gerente,id_departamento,nome,ano_contratacao,mes_contratacao,dia_contratacao,desconto_inss
102,Lex,De Haan,lex.de haan@sqltutorial.org,515.123.4569,1993-01-13,5,17000.0,100,9,Lex De Haan,1993,01,13,2380.0
103,Alexander,Hunold,alexander.hunold@sqltutorial.org,590.423.4567,1990-01-03,9,9000.0,102,6,Alexander Hunold,1990,01,03,1260.0000000000002
115,Alexander,Khoo,alexander.khoo@sqltutorial.org,515.127.4562,1995-05-18,13,3100.0,114,3,Alexander Khoo,1995,05,18,434.00000000000006

#### filtro </br>
Filtro as linhas onde o id_gerente seja nullo

#### filtro </br>
Filtro as linhas onde o id_gerente seja diferente de nulo

id_empregado,primeiro_nome,ultimo_nome,email,numero_telefone,data_contratacao,id_ocupacao,salario,id_gerente,id_departamento,nome,ano_contratacao,mes_contratacao,dia_contratacao,desconto_inss
100,Steven,King,steven.king@sqltutorial.org,515.123.4567,1987-06-17,4,24000.0,NULL,9,Steven King,1987,06,17,3360.0000000000005
101,Neena,Kochhar,neena.kochhar@sqltutorial.org,515.123.4568,1989-09-21,5,17000.0,100,9,Neena Kochhar,1989,09,21,2380.0
102,Lex,De Haan,lex.de haan@sqltutorial.org,515.123.4569,1993-01-13,5,17000.0,100,9,Lex De Haan,1993,01,13,2380.0
103,Alexander,Hunold,alexander.hunold@sqltutorial.org,590.423.4567,1990-01-03,9,9000.0,102,6,Alexander Hunold,1990,01,03,1260.0000000000002
104,Bruce,Ernst,bruce.ernst@sqltutorial.org,590.423.4568,1991-05-21,9,6000.0,103,6,Bruce Ernst,1991,05,21,840.0000000000001
105,David,Austin,david.austin@sqltutorial.org,590.423.4569,1997-06-25,9,4800.0,103,6,David Austin,1997,06,25,672.0000000000001
106,Valli,Pataballa,valli.pataballa@sqltutorial.org,590.423.4560,1998-02-05,9,4800.0,103,6,Valli Pataballa,1998,02,05,672.0000000000001
107,Diana,Lorentz,diana.lorentz@sqltutorial.org,590.423.5567,1999-02-07,9,4200.0,103,6,Diana Lorentz,1999,02,07,588.0
108,Nancy,Greenberg,nancy.greenberg@sqltutorial.org,515.124.4569,1994-08-17,7,12000.0,101,10,Nancy Greenberg,1994,08,17,1680.0000000000002
109,Daniel,Faviet,daniel.faviet@sqltutorial.org,515.124.4169,1994-08-16,6,9000.0,108,10,Daniel Faviet,1994,08,16,1260.0000000000002
110,John,Chen,john.chen@sqltutorial.org,515.124.4269,1997-09-28,6,8200.0,108,10,John Chen,1997,09,28,1148.0
111,Ismael,Sciarra,ismael.sciarra@sqltutorial.org,515.124.4369,1997-09-30,6,7700.0,108,10,Ismael Sciarra,1997,09,30,1078.0
112,Jose Manuel,Urman,jose manuel.urman@sqltutorial.org,515.124.4469,1998-03-07,6,7800.0,108,10,Jose Manuel Urman,1998,03,07,1092.0
113,Luis,Popp,luis.popp@sqltutorial.org,515.124.4567,1999-12-07,6,6900.0,108,10,Luis Popp,1999,12,07,966.0000000000001
114,Den,Raphaely,den.raphaely@sqltutorial.org,515.127.4561,1994-12-07,14,11000.0,100,3,Den Raphaely,1994,12,07,1540.0000000000002
115,Alexander,Khoo,alexander.khoo@sqltutorial.org,515.127.4562,1995-05-18,13,3100.0,114,3,Alexander Khoo,1995,05,18,434.00000000000006
116,Shelli,Baida,shelli.baida@sqltutorial.org,515.127.4563,1997-12-24,13,2900.0,114,3,Shelli Baida,1997,12,24,406.00000000000006
117,Sigal,Tobias,sigal.tobias@sqltutorial.org,515.127.4564,1997-07-24,13,2800.0,114,3,Sigal Tobias,1997,07,24,392.00000000000006
118,Guy,Himuro,guy.himuro@sqltutorial.org,515.127.4565,1998-11-15,13,2600.0,114,3,Guy Himuro,1998,11,15,364.00000000000006
119,Karen,Colmenares,karen.colmenares@sqltutorial.org,515.127.4566,1999-08-10,13,2500.0,114,3,Karen Colmenares,1999,08,10,350.00000000000006
120,Matthew,Weiss,matthew.weiss@sqltutorial.org,650.123.1234,1996-07-18,19,8000.0,100,5,Matthew Weiss,1996,07,18,1120.0
121,Adam,Fripp,adam.fripp@sqltutorial.org,650.123.2234,1997-04-10,19,8200.0,100,5,Adam Fripp,1997,04,10,1148.0
122,Payam,Kaufling,payam.kaufling@sqltutorial.org,650.123.3234,1995-05-01,19,7900.0,100,5,Payam Kaufling,1995,05,01,1106.0
123,Shanta,Vollman,shanta.vollman@sqltutorial.org,650.123.4234,1997-10-10,19,6500.0,100,5,Shanta Vollman,1997,10,10,910.0000000000001
126,Irene,Mikkilineni,irene.mikkilineni@sqltutorial.org,650.124.1224,1998-09-28,18,2700.0,120,5,Irene Mikkilineni,1998,09,28,378.00000000000006
145,John,Russell,john.russell@sqltutorial.org,NULL,1996-10-01,15,14000.0,100,8,John Russell,1996,10,01,1960.0000000000002
146,Karen,Partners,karen.partners@sqltutorial.org,NULL,1997-01-05,15,13500.0,100,8,Karen Partners,1997,01,05,1890.0000000000002
176,Jonathon,Taylor,jonathon.taylor@sqltutorial.org,NULL,1998-03-24,16,8600.0,100,8,Jonathon Taylor,1998,03,24,1204.0000000000002
177,Jack,Livingston,jack.livingston@sqltutorial.org,NULL,1998-04-23,16,8400.0,100,8,Jack Livingston,1998,04,23,1176.0
178,Kimberely,Grant,kimberely.grant@sqltutorial.org,NULL,1999-05-24,16,7000.0,100,8,Kimberely Grant,1999,05,24,980.0000000000001
179,Charles,Johnson,charles.johnson@sqltutorial.org,NULL,2000-01-04,16,6200.0,100,8,Charles Johnson,2000,01,04,868.0000000000001
192,Sarah,Bell,sarah.bell@sqltutorial.org,650.501.1876,1996-02-04,17,4000.0,123,5,Sarah Bell,1996,02,04,560.0
193,Britney,Everett,britney.everett@sqltutorial.org,650.501.2876,1997-03-03,17,3900.0,123,5,Britney Everett,1997,03,03,546.0
200,Jennifer,Whalen,jennifer.whalen@sqltutorial.org,515.123.4444,1987-09-17,3,4400.0,101,1,Jennifer Whalen,1987,09,17,616.0000000000001
201,Michael,Hartstein,michael.hartstein@sqltutorial.org,515.123.5555,1996-02-17,10,13000.0,100,2,Michael Hartstein,1996,02,17,1820.0000000000002
202,Pat,Fay,pat.fay@sqltutorial.org,603.123.6666,1997-08-17,11,6000.0,201,2,Pat Fay,1997,08,17,840.0000000000001
203,Susan,Mavris,susan.mavris@sqltutorial.org,515.123.7777,1994-06-07,8,6500.0,101,4,Susan Mavris,1994,06,07,910.0000000000001
204,Hermann,Baer,hermann.baer@sqltutorial.org,515.123.8888,1994-06-07,12,10000.0,101,7,Hermann Baer,1994,06,07,1400.0000000000002
205,Shelley,Higgins,shelley.higgins@sqltutorial.org,515.123.8080,1994-06-07,2,12000.0,101,11,Shelley Higgins,1994,06,07,1680.0000000000002
206,William,Gietz,william.gietz@sqltutorial.org,515.123.8181,1994-06-07,1,8300.0,205,11,William Gietz,1994,06,07,1162.0