In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, FloatType
import pyspark.sql.functions as F

In [0]:

spark = SparkSession.builder \
    .master('local[*]') \
    .appName("Iniciando com Spark") \
    .getOrCreate()

### Lendo Csv

In [0]:
path_countries = '/FileStore/transient/departments/countries'
df_countries = spark.read.format('csv')\
.option("header", True)\
.option("sep", ",")\
.option("quote","\'")\
.option("inferSchema",True)\
.load(path_countries)
#transient\csv\olist

In [0]:
path_regions = '/FileStore/transient/departments/regions'
df_regions = spark.read.format('csv')\
.option("header", True)\
.option("sep", ",")\
.option("quote","\'")\
.option("inferSchema",True)\
.load(path_regions)

In [0]:
path_jobs = '/FileStore/transient/departments/jobs'
df_jobs = spark.read.format('csv')\
.option("header", True)\
.option("sep", ",")\
.option("quote","\'")\
.option("inferSchema",True)\
.load(path_jobs)

In [0]:
path_employees = '/FileStore/transient/departments/employees'
df_employees = spark.read.format('csv')\
.option("header", True)\
.option("sep", ",")\
.option("quote","\'")\
.option("inferSchema",True)\
.load(path_employees)

In [0]:
path_depto = '/FileStore/transient/departments/departments'
df_depto = spark.read.format('csv')\
.option("header", True)\
.option("sep", ",")\
.option("quote","\'")\
.option("inferSchema",True)\
.load(path_depto)

In [0]:
df_job_employees = df_employees.join(df_jobs , df_employees.job_id == df_jobs.job_id, 'inner').drop(df_jobs.job_id)

In [0]:
df_job_employees.display()

employee_id,first_name,last_name,email,phone_number,hire_date,job_id,salary,manager_id,department_id,jod_title,min_salary,max_salary
100,Steven,King,steven.king@sqltutorial.org,515.123.4567,1987-06-17,4,24000.0,NULL,9,President,20000.0,40000.0
101,Neena,Kochhar,neena.kochhar@sqltutorial.org,515.123.4568,1989-09-21,5,17000.0,100,9,Administration Vice President,15000.0,30000.0
102,Lex,De Haan,lex.de haan@sqltutorial.org,515.123.4569,1993-01-13,5,17000.0,100,9,Administration Vice President,15000.0,30000.0
103,Alexander,Hunold,alexander.hunold@sqltutorial.org,590.423.4567,1990-01-03,9,9000.0,102,6,Programmer,4000.0,10000.0
104,Bruce,Ernst,bruce.ernst@sqltutorial.org,590.423.4568,1991-05-21,9,6000.0,103,6,Programmer,4000.0,10000.0
105,David,Austin,david.austin@sqltutorial.org,590.423.4569,1997-06-25,9,4800.0,103,6,Programmer,4000.0,10000.0
106,Valli,Pataballa,valli.pataballa@sqltutorial.org,590.423.4560,1998-02-05,9,4800.0,103,6,Programmer,4000.0,10000.0
107,Diana,Lorentz,diana.lorentz@sqltutorial.org,590.423.5567,1999-02-07,9,4200.0,103,6,Programmer,4000.0,10000.0
108,Nancy,Greenberg,nancy.greenberg@sqltutorial.org,515.124.4569,1994-08-17,7,12000.0,101,10,Finance Manager,8200.0,16000.0
109,Daniel,Faviet,daniel.faviet@sqltutorial.org,515.124.4169,1994-08-16,6,9000.0,108,10,Accountant,4200.0,9000.0
110,John,Chen,john.chen@sqltutorial.org,515.124.4269,1997-09-28,6,8200.0,108,10,Accountant,4200.0,9000.0
111,Ismael,Sciarra,ismael.sciarra@sqltutorial.org,515.124.4369,1997-09-30,6,7700.0,108,10,Accountant,4200.0,9000.0
112,Jose Manuel,Urman,jose manuel.urman@sqltutorial.org,515.124.4469,1998-03-07,6,7800.0,108,10,Accountant,4200.0,9000.0
113,Luis,Popp,luis.popp@sqltutorial.org,515.124.4567,1999-12-07,6,6900.0,108,10,Accountant,4200.0,9000.0
114,Den,Raphaely,den.raphaely@sqltutorial.org,515.127.4561,1994-12-07,14,11000.0,100,3,Purchasing Manager,8000.0,15000.0
115,Alexander,Khoo,alexander.khoo@sqltutorial.org,515.127.4562,1995-05-18,13,3100.0,114,3,Purchasing Clerk,2500.0,5500.0
116,Shelli,Baida,shelli.baida@sqltutorial.org,515.127.4563,1997-12-24,13,2900.0,114,3,Purchasing Clerk,2500.0,5500.0
117,Sigal,Tobias,sigal.tobias@sqltutorial.org,515.127.4564,1997-07-24,13,2800.0,114,3,Purchasing Clerk,2500.0,5500.0
118,Guy,Himuro,guy.himuro@sqltutorial.org,515.127.4565,1998-11-15,13,2600.0,114,3,Purchasing Clerk,2500.0,5500.0
119,Karen,Colmenares,karen.colmenares@sqltutorial.org,515.127.4566,1999-08-10,13,2500.0,114,3,Purchasing Clerk,2500.0,5500.0
120,Matthew,Weiss,matthew.weiss@sqltutorial.org,650.123.1234,1996-07-18,19,8000.0,100,5,Stock Manager,5500.0,8500.0
121,Adam,Fripp,adam.fripp@sqltutorial.org,650.123.2234,1997-04-10,19,8200.0,100,5,Stock Manager,5500.0,8500.0
122,Payam,Kaufling,payam.kaufling@sqltutorial.org,650.123.3234,1995-05-01,19,7900.0,100,5,Stock Manager,5500.0,8500.0
123,Shanta,Vollman,shanta.vollman@sqltutorial.org,650.123.4234,1997-10-10,19,6500.0,100,5,Stock Manager,5500.0,8500.0
126,Irene,Mikkilineni,irene.mikkilineni@sqltutorial.org,650.124.1224,1998-09-28,18,2700.0,120,5,Stock Clerk,2000.0,5000.0
145,John,Russell,john.russell@sqltutorial.org,NULL,1996-10-01,15,14000.0,100,8,Sales Manager,10000.0,20000.0
146,Karen,Partners,karen.partners@sqltutorial.org,NULL,1997-01-05,15,13500.0,100,8,Sales Manager,10000.0,20000.0
176,Jonathon,Taylor,jonathon.taylor@sqltutorial.org,NULL,1998-03-24,16,8600.0,100,8,Sales Representative,6000.0,12000.0
177,Jack,Livingston,jack.livingston@sqltutorial.org,NULL,1998-04-23,16,8400.0,100,8,Sales Representative,6000.0,12000.0
178,Kimberely,Grant,kimberely.grant@sqltutorial.org,NULL,1999-05-24,16,7000.0,100,8,Sales Representative,6000.0,12000.0
179,Charles,Johnson,charles.johnson@sqltutorial.org,NULL,2000-01-04,16,6200.0,100,8,Sales Representative,6000.0,12000.0
192,Sarah,Bell,sarah.bell@sqltutorial.org,650.501.1876,1996-02-04,17,4000.0,123,5,Shipping Clerk,2500.0,5500.0
193,Britney,Everett,britney.everett@sqltutorial.org,650.501.2876,1997-03-03,17,3900.0,123,5,Shipping Clerk,2500.0,5500.0
200,Jennifer,Whalen,jennifer.whalen@sqltutorial.org,515.123.4444,1987-09-17,3,4400.0,101,1,Administration Assistant,3000.0,6000.0
201,Michael,Hartstein,michael.hartstein@sqltutorial.org,515.123.5555,1996-02-17,10,13000.0,100,2,Marketing Manager,9000.0,15000.0
202,Pat,Fay,pat.fay@sqltutorial.org,603.123.6666,1997-08-17,11,6000.0,201,2,Marketing Representative,4000.0,9000.0
203,Susan,Mavris,susan.mavris@sqltutorial.org,515.123.7777,1994-06-07,8,6500.0,101,4,Human Resources Representative,4000.0,9000.0
204,Hermann,Baer,hermann.baer@sqltutorial.org,515.123.8888,1994-06-07,12,10000.0,101,7,Public Relations Representative,4500.0,10500.0
205,Shelley,Higgins,shelley.higgins@sqltutorial.org,515.123.8080,1994-06-07,2,12000.0,101,11,Accounting Manager,8200.0,16000.0
206,William,Gietz,william.gietz@sqltutorial.org,515.123.8181,1994-06-07,1,8300.0,205,11,Public Accountant,4200.0,9000.0

In [0]:
condicao = df_employees.job_id == df_jobs.job_id
df_jobs_joined = df_jobs.join(df_employees, condicao , 'inner').select(df_employees['*'],\
                                                                       df_jobs['jod_title'],\
                                                                       df_jobs['min_salary'],\
                                                                       df_jobs['max_salary'])
df_jobs_joined.display()

employee_id,first_name,last_name,email,phone_number,hire_date,job_id,salary,manager_id,department_id,jod_title,min_salary,max_salary
100,Steven,King,steven.king@sqltutorial.org,515.123.4567,1987-06-17,4,24000.0,NULL,9,President,20000.0,40000.0
101,Neena,Kochhar,neena.kochhar@sqltutorial.org,515.123.4568,1989-09-21,5,17000.0,100,9,Administration Vice President,15000.0,30000.0
102,Lex,De Haan,lex.de haan@sqltutorial.org,515.123.4569,1993-01-13,5,17000.0,100,9,Administration Vice President,15000.0,30000.0
103,Alexander,Hunold,alexander.hunold@sqltutorial.org,590.423.4567,1990-01-03,9,9000.0,102,6,Programmer,4000.0,10000.0
104,Bruce,Ernst,bruce.ernst@sqltutorial.org,590.423.4568,1991-05-21,9,6000.0,103,6,Programmer,4000.0,10000.0
105,David,Austin,david.austin@sqltutorial.org,590.423.4569,1997-06-25,9,4800.0,103,6,Programmer,4000.0,10000.0
106,Valli,Pataballa,valli.pataballa@sqltutorial.org,590.423.4560,1998-02-05,9,4800.0,103,6,Programmer,4000.0,10000.0
107,Diana,Lorentz,diana.lorentz@sqltutorial.org,590.423.5567,1999-02-07,9,4200.0,103,6,Programmer,4000.0,10000.0
108,Nancy,Greenberg,nancy.greenberg@sqltutorial.org,515.124.4569,1994-08-17,7,12000.0,101,10,Finance Manager,8200.0,16000.0
109,Daniel,Faviet,daniel.faviet@sqltutorial.org,515.124.4169,1994-08-16,6,9000.0,108,10,Accountant,4200.0,9000.0
110,John,Chen,john.chen@sqltutorial.org,515.124.4269,1997-09-28,6,8200.0,108,10,Accountant,4200.0,9000.0
111,Ismael,Sciarra,ismael.sciarra@sqltutorial.org,515.124.4369,1997-09-30,6,7700.0,108,10,Accountant,4200.0,9000.0
112,Jose Manuel,Urman,jose manuel.urman@sqltutorial.org,515.124.4469,1998-03-07,6,7800.0,108,10,Accountant,4200.0,9000.0
113,Luis,Popp,luis.popp@sqltutorial.org,515.124.4567,1999-12-07,6,6900.0,108,10,Accountant,4200.0,9000.0
114,Den,Raphaely,den.raphaely@sqltutorial.org,515.127.4561,1994-12-07,14,11000.0,100,3,Purchasing Manager,8000.0,15000.0
115,Alexander,Khoo,alexander.khoo@sqltutorial.org,515.127.4562,1995-05-18,13,3100.0,114,3,Purchasing Clerk,2500.0,5500.0
116,Shelli,Baida,shelli.baida@sqltutorial.org,515.127.4563,1997-12-24,13,2900.0,114,3,Purchasing Clerk,2500.0,5500.0
117,Sigal,Tobias,sigal.tobias@sqltutorial.org,515.127.4564,1997-07-24,13,2800.0,114,3,Purchasing Clerk,2500.0,5500.0
118,Guy,Himuro,guy.himuro@sqltutorial.org,515.127.4565,1998-11-15,13,2600.0,114,3,Purchasing Clerk,2500.0,5500.0
119,Karen,Colmenares,karen.colmenares@sqltutorial.org,515.127.4566,1999-08-10,13,2500.0,114,3,Purchasing Clerk,2500.0,5500.0
120,Matthew,Weiss,matthew.weiss@sqltutorial.org,650.123.1234,1996-07-18,19,8000.0,100,5,Stock Manager,5500.0,8500.0
121,Adam,Fripp,adam.fripp@sqltutorial.org,650.123.2234,1997-04-10,19,8200.0,100,5,Stock Manager,5500.0,8500.0
122,Payam,Kaufling,payam.kaufling@sqltutorial.org,650.123.3234,1995-05-01,19,7900.0,100,5,Stock Manager,5500.0,8500.0
123,Shanta,Vollman,shanta.vollman@sqltutorial.org,650.123.4234,1997-10-10,19,6500.0,100,5,Stock Manager,5500.0,8500.0
126,Irene,Mikkilineni,irene.mikkilineni@sqltutorial.org,650.124.1224,1998-09-28,18,2700.0,120,5,Stock Clerk,2000.0,5000.0
145,John,Russell,john.russell@sqltutorial.org,NULL,1996-10-01,15,14000.0,100,8,Sales Manager,10000.0,20000.0
146,Karen,Partners,karen.partners@sqltutorial.org,NULL,1997-01-05,15,13500.0,100,8,Sales Manager,10000.0,20000.0
176,Jonathon,Taylor,jonathon.taylor@sqltutorial.org,NULL,1998-03-24,16,8600.0,100,8,Sales Representative,6000.0,12000.0
177,Jack,Livingston,jack.livingston@sqltutorial.org,NULL,1998-04-23,16,8400.0,100,8,Sales Representative,6000.0,12000.0
178,Kimberely,Grant,kimberely.grant@sqltutorial.org,NULL,1999-05-24,16,7000.0,100,8,Sales Representative,6000.0,12000.0
179,Charles,Johnson,charles.johnson@sqltutorial.org,NULL,2000-01-04,16,6200.0,100,8,Sales Representative,6000.0,12000.0
192,Sarah,Bell,sarah.bell@sqltutorial.org,650.501.1876,1996-02-04,17,4000.0,123,5,Shipping Clerk,2500.0,5500.0
193,Britney,Everett,britney.everett@sqltutorial.org,650.501.2876,1997-03-03,17,3900.0,123,5,Shipping Clerk,2500.0,5500.0
200,Jennifer,Whalen,jennifer.whalen@sqltutorial.org,515.123.4444,1987-09-17,3,4400.0,101,1,Administration Assistant,3000.0,6000.0
201,Michael,Hartstein,michael.hartstein@sqltutorial.org,515.123.5555,1996-02-17,10,13000.0,100,2,Marketing Manager,9000.0,15000.0
202,Pat,Fay,pat.fay@sqltutorial.org,603.123.6666,1997-08-17,11,6000.0,201,2,Marketing Representative,4000.0,9000.0
203,Susan,Mavris,susan.mavris@sqltutorial.org,515.123.7777,1994-06-07,8,6500.0,101,4,Human Resources Representative,4000.0,9000.0
204,Hermann,Baer,hermann.baer@sqltutorial.org,515.123.8888,1994-06-07,12,10000.0,101,7,Public Relations Representative,4500.0,10500.0
205,Shelley,Higgins,shelley.higgins@sqltutorial.org,515.123.8080,1994-06-07,2,12000.0,101,11,Accounting Manager,8200.0,16000.0
206,William,Gietz,william.gietz@sqltutorial.org,515.123.8181,1994-06-07,1,8300.0,205,11,Public Accountant,4200.0,9000.0

In [0]:
df_depto.display()

department_id,department_name,location_id
1,Administration,1700
2,Marketing,1800
3,Purchasing,1700
4,Human Resources,2400
5,Shipping,1500
6,IT,1400
7,Public Relations,2700
8,Sales,2500
9,Executive,1700
10,Finance,1700
11,Accounting,1700

In [0]:
df_job_employees_depto = df_employees.join(df_jobs , df_employees.job_id == df_jobs.job_id, 'inner').join(df_depto, df_employees.department_id == df_depto.department_id, 'inner')\
.drop(df_jobs.job_id)\
.drop(df_depto.department_id)

### *Agregaes* ###
So calculos aplicador no agrupamento de um ou mais campos;<br>
Para criar um agrupamento, utilize o mtodo groupBy( ) , passando o campo ou lista de campos da agregao. </br>

* count() Retorna o numero de linhas por cada grupo.
* mean() Retorna a mdia por cada grupo.
* max() Retorna o valor mximo de um valor por cada grupo.
* min() Retorna o valor mnimo de um valor por cada grupo.
* sum() Retorna o valor acumulado de um valor por cada grupo.
* avg() Retorna a mdia de um valor por cada grupo.
* agg() utilizando a funo agg aps um agrupamento,  possvel utilizar mais de um tipo de funo de agregao ao mesmo tempo.

In [0]:
df_job_employees.groupBy('jod_title').mean('salary').display()

jod_title,avg(salary)
Finance Manager,12000.0
President,24000.0
Shipping Clerk,3950.0
Marketing Manager,13000.0
Public Accountant,8300.0
Stock Clerk,2700.0
Programmer,5760.0
Sales Representative,7550.0
Administration Vice President,17000.0
Stock Manager,7650.0
Accounting Manager,12000.0
Purchasing Manager,11000.0
Marketing Representative,6000.0
Sales Manager,13750.0
Human Resources Representative,6500.0
Accountant,7920.0
Purchasing Clerk,2780.0
Administration Assistant,4400.0
Public Relations Representative,10000.0

In [0]:
df_job_employees.groupBy('jod_title').max('salary').display()

jod_title,max(salary)
Finance Manager,12000.0
President,24000.0
Shipping Clerk,4000.0
Marketing Manager,13000.0
Public Accountant,8300.0
Stock Clerk,2700.0
Programmer,9000.0
Sales Representative,8600.0
Administration Vice President,17000.0
Stock Manager,8200.0
Accounting Manager,12000.0
Purchasing Manager,11000.0
Marketing Representative,6000.0
Sales Manager,14000.0
Human Resources Representative,6500.0
Accountant,9000.0
Purchasing Clerk,3100.0
Administration Assistant,4400.0
Public Relations Representative,10000.0

In [0]:
df_job_employees.groupBy('jod_title').min('salary').display()

jod_title,min(salary)
Finance Manager,12000.0
President,24000.0
Shipping Clerk,3900.0
Marketing Manager,13000.0
Public Accountant,8300.0
Stock Clerk,2700.0
Programmer,4200.0
Sales Representative,6200.0
Administration Vice President,17000.0
Stock Manager,6500.0
Accounting Manager,12000.0
Purchasing Manager,11000.0
Marketing Representative,6000.0
Sales Manager,13500.0
Human Resources Representative,6500.0
Accountant,6900.0
Purchasing Clerk,2500.0
Administration Assistant,4400.0
Public Relations Representative,10000.0

In [0]:
from pyspark.sql.functions import sum,avg,max,count,mean

df_job_employees.groupBy('jod_title').agg(
    max('salary').alias('max_salary'),
    mean('salary').alias('mean_salary')
).display()

jod_title,max_salary,mean_salary
Finance Manager,12000.0,12000.0
President,24000.0,24000.0
Shipping Clerk,4000.0,3950.0
Marketing Manager,13000.0,13000.0
Public Accountant,8300.0,8300.0
Stock Clerk,2700.0,2700.0
Programmer,9000.0,5760.0
Sales Representative,8600.0,7550.0
Administration Vice President,17000.0,17000.0
Stock Manager,8200.0,7650.0
Accounting Manager,12000.0,12000.0
Purchasing Manager,11000.0,11000.0
Marketing Representative,6000.0,6000.0
Sales Manager,14000.0,13750.0
Human Resources Representative,6500.0,6500.0
Accountant,9000.0,7920.0
Purchasing Clerk,3100.0,2780.0
Administration Assistant,4400.0,4400.0
Public Relations Representative,10000.0,10000.0

In [0]:
df_job_employees_depto.display()

employee_id,first_name,last_name,email,phone_number,hire_date,job_id,salary,manager_id,department_id,jod_title,min_salary,max_salary,department_name,location_id
100,Steven,King,steven.king@sqltutorial.org,515.123.4567,1987-06-17,4,24000.0,NULL,9,President,20000.0,40000.0,Executive,1700
101,Neena,Kochhar,neena.kochhar@sqltutorial.org,515.123.4568,1989-09-21,5,17000.0,100,9,Administration Vice President,15000.0,30000.0,Executive,1700
102,Lex,De Haan,lex.de haan@sqltutorial.org,515.123.4569,1993-01-13,5,17000.0,100,9,Administration Vice President,15000.0,30000.0,Executive,1700
103,Alexander,Hunold,alexander.hunold@sqltutorial.org,590.423.4567,1990-01-03,9,9000.0,102,6,Programmer,4000.0,10000.0,IT,1400
104,Bruce,Ernst,bruce.ernst@sqltutorial.org,590.423.4568,1991-05-21,9,6000.0,103,6,Programmer,4000.0,10000.0,IT,1400
105,David,Austin,david.austin@sqltutorial.org,590.423.4569,1997-06-25,9,4800.0,103,6,Programmer,4000.0,10000.0,IT,1400
106,Valli,Pataballa,valli.pataballa@sqltutorial.org,590.423.4560,1998-02-05,9,4800.0,103,6,Programmer,4000.0,10000.0,IT,1400
107,Diana,Lorentz,diana.lorentz@sqltutorial.org,590.423.5567,1999-02-07,9,4200.0,103,6,Programmer,4000.0,10000.0,IT,1400
108,Nancy,Greenberg,nancy.greenberg@sqltutorial.org,515.124.4569,1994-08-17,7,12000.0,101,10,Finance Manager,8200.0,16000.0,Finance,1700
109,Daniel,Faviet,daniel.faviet@sqltutorial.org,515.124.4169,1994-08-16,6,9000.0,108,10,Accountant,4200.0,9000.0,Finance,1700
110,John,Chen,john.chen@sqltutorial.org,515.124.4269,1997-09-28,6,8200.0,108,10,Accountant,4200.0,9000.0,Finance,1700
111,Ismael,Sciarra,ismael.sciarra@sqltutorial.org,515.124.4369,1997-09-30,6,7700.0,108,10,Accountant,4200.0,9000.0,Finance,1700
112,Jose Manuel,Urman,jose manuel.urman@sqltutorial.org,515.124.4469,1998-03-07,6,7800.0,108,10,Accountant,4200.0,9000.0,Finance,1700
113,Luis,Popp,luis.popp@sqltutorial.org,515.124.4567,1999-12-07,6,6900.0,108,10,Accountant,4200.0,9000.0,Finance,1700
114,Den,Raphaely,den.raphaely@sqltutorial.org,515.127.4561,1994-12-07,14,11000.0,100,3,Purchasing Manager,8000.0,15000.0,Purchasing,1700
115,Alexander,Khoo,alexander.khoo@sqltutorial.org,515.127.4562,1995-05-18,13,3100.0,114,3,Purchasing Clerk,2500.0,5500.0,Purchasing,1700
116,Shelli,Baida,shelli.baida@sqltutorial.org,515.127.4563,1997-12-24,13,2900.0,114,3,Purchasing Clerk,2500.0,5500.0,Purchasing,1700
117,Sigal,Tobias,sigal.tobias@sqltutorial.org,515.127.4564,1997-07-24,13,2800.0,114,3,Purchasing Clerk,2500.0,5500.0,Purchasing,1700
118,Guy,Himuro,guy.himuro@sqltutorial.org,515.127.4565,1998-11-15,13,2600.0,114,3,Purchasing Clerk,2500.0,5500.0,Purchasing,1700
119,Karen,Colmenares,karen.colmenares@sqltutorial.org,515.127.4566,1999-08-10,13,2500.0,114,3,Purchasing Clerk,2500.0,5500.0,Purchasing,1700
120,Matthew,Weiss,matthew.weiss@sqltutorial.org,650.123.1234,1996-07-18,19,8000.0,100,5,Stock Manager,5500.0,8500.0,Shipping,1500
121,Adam,Fripp,adam.fripp@sqltutorial.org,650.123.2234,1997-04-10,19,8200.0,100,5,Stock Manager,5500.0,8500.0,Shipping,1500
122,Payam,Kaufling,payam.kaufling@sqltutorial.org,650.123.3234,1995-05-01,19,7900.0,100,5,Stock Manager,5500.0,8500.0,Shipping,1500
123,Shanta,Vollman,shanta.vollman@sqltutorial.org,650.123.4234,1997-10-10,19,6500.0,100,5,Stock Manager,5500.0,8500.0,Shipping,1500
126,Irene,Mikkilineni,irene.mikkilineni@sqltutorial.org,650.124.1224,1998-09-28,18,2700.0,120,5,Stock Clerk,2000.0,5000.0,Shipping,1500
145,John,Russell,john.russell@sqltutorial.org,NULL,1996-10-01,15,14000.0,100,8,Sales Manager,10000.0,20000.0,Sales,2500
146,Karen,Partners,karen.partners@sqltutorial.org,NULL,1997-01-05,15,13500.0,100,8,Sales Manager,10000.0,20000.0,Sales,2500
176,Jonathon,Taylor,jonathon.taylor@sqltutorial.org,NULL,1998-03-24,16,8600.0,100,8,Sales Representative,6000.0,12000.0,Sales,2500
177,Jack,Livingston,jack.livingston@sqltutorial.org,NULL,1998-04-23,16,8400.0,100,8,Sales Representative,6000.0,12000.0,Sales,2500
178,Kimberely,Grant,kimberely.grant@sqltutorial.org,NULL,1999-05-24,16,7000.0,100,8,Sales Representative,6000.0,12000.0,Sales,2500
179,Charles,Johnson,charles.johnson@sqltutorial.org,NULL,2000-01-04,16,6200.0,100,8,Sales Representative,6000.0,12000.0,Sales,2500
192,Sarah,Bell,sarah.bell@sqltutorial.org,650.501.1876,1996-02-04,17,4000.0,123,5,Shipping Clerk,2500.0,5500.0,Shipping,1500
193,Britney,Everett,britney.everett@sqltutorial.org,650.501.2876,1997-03-03,17,3900.0,123,5,Shipping Clerk,2500.0,5500.0,Shipping,1500
200,Jennifer,Whalen,jennifer.whalen@sqltutorial.org,515.123.4444,1987-09-17,3,4400.0,101,1,Administration Assistant,3000.0,6000.0,Administration,1700
201,Michael,Hartstein,michael.hartstein@sqltutorial.org,515.123.5555,1996-02-17,10,13000.0,100,2,Marketing Manager,9000.0,15000.0,Marketing,1800
202,Pat,Fay,pat.fay@sqltutorial.org,603.123.6666,1997-08-17,11,6000.0,201,2,Marketing Representative,4000.0,9000.0,Marketing,1800
203,Susan,Mavris,susan.mavris@sqltutorial.org,515.123.7777,1994-06-07,8,6500.0,101,4,Human Resources Representative,4000.0,9000.0,Human Resources,2400
204,Hermann,Baer,hermann.baer@sqltutorial.org,515.123.8888,1994-06-07,12,10000.0,101,7,Public Relations Representative,4500.0,10500.0,Public Relations,2700
205,Shelley,Higgins,shelley.higgins@sqltutorial.org,515.123.8080,1994-06-07,2,12000.0,101,11,Accounting Manager,8200.0,16000.0,Accounting,1700
206,William,Gietz,william.gietz@sqltutorial.org,515.123.8181,1994-06-07,1,8300.0,205,11,Public Accountant,4200.0,9000.0,Accounting,1700

In [0]:
df_job_employees_depto.groupBy('department_name','jod_title').agg(
    max('salary').alias('max_salary'),
    mean('salary').alias('mean_salary')
).display()

department_name,jod_title,max_salary,mean_salary
Shipping,Stock Manager,8200.0,7650.0
Sales,Sales Representative,8600.0,7550.0
IT,Programmer,9000.0,5760.0
Accounting,Public Accountant,8300.0,8300.0
Administration,Administration Assistant,4400.0,4400.0
Executive,Administration Vice President,17000.0,17000.0
Purchasing,Purchasing Manager,11000.0,11000.0
Accounting,Accounting Manager,12000.0,12000.0
Human Resources,Human Resources Representative,6500.0,6500.0
Finance,Finance Manager,12000.0,12000.0
Finance,Accountant,9000.0,7920.0
Executive,President,24000.0,24000.0
Purchasing,Purchasing Clerk,3100.0,2780.0
Shipping,Stock Clerk,2700.0,2700.0
Public Relations,Public Relations Representative,10000.0,10000.0
Sales,Sales Manager,14000.0,13750.0
Shipping,Shipping Clerk,4000.0,3950.0
Marketing,Marketing Manager,13000.0,13000.0
Marketing,Marketing Representative,6000.0,6000.0

In [0]:
from pyspark.sql import types as T, functions as F
df_grouped = df_job_employees.groupBy('jod_title')

df_grouped.agg(F.collect_list(F.col('email'))
              ).display(truncate = False)

jod_title,collect_list(email)
Finance Manager,List(nancy.greenberg@sqltutorial.org)
President,List(steven.king@sqltutorial.org)
Shipping Clerk,"List(sarah.bell@sqltutorial.org, britney.everett@sqltutorial.org)"
Marketing Manager,List(michael.hartstein@sqltutorial.org)
Public Accountant,List(william.gietz@sqltutorial.org)
Stock Clerk,List(irene.mikkilineni@sqltutorial.org)
Programmer,"List(alexander.hunold@sqltutorial.org, bruce.ernst@sqltutorial.org, david.austin@sqltutorial.org, valli.pataballa@sqltutorial.org, diana.lorentz@sqltutorial.org)"
Sales Representative,"List(jonathon.taylor@sqltutorial.org, jack.livingston@sqltutorial.org, kimberely.grant@sqltutorial.org, charles.johnson@sqltutorial.org)"
Administration Vice President,"List(neena.kochhar@sqltutorial.org, lex.de haan@sqltutorial.org)"
Stock Manager,"List(matthew.weiss@sqltutorial.org, adam.fripp@sqltutorial.org, payam.kaufling@sqltutorial.org, shanta.vollman@sqltutorial.org)"
Accounting Manager,List(shelley.higgins@sqltutorial.org)
Purchasing Manager,List(den.raphaely@sqltutorial.org)
Marketing Representative,List(pat.fay@sqltutorial.org)
Sales Manager,"List(john.russell@sqltutorial.org, karen.partners@sqltutorial.org)"
Human Resources Representative,List(susan.mavris@sqltutorial.org)
Accountant,"List(daniel.faviet@sqltutorial.org, john.chen@sqltutorial.org, ismael.sciarra@sqltutorial.org, jose manuel.urman@sqltutorial.org, luis.popp@sqltutorial.org)"
Purchasing Clerk,"List(alexander.khoo@sqltutorial.org, shelli.baida@sqltutorial.org, sigal.tobias@sqltutorial.org, guy.himuro@sqltutorial.org, karen.colmenares@sqltutorial.org)"
Administration Assistant,List(jennifer.whalen@sqltutorial.org)
Public Relations Representative,List(hermann.baer@sqltutorial.org)